@import "./../../../../styles/variables.scss";

.product-description {
  width: 320px;
  height: 389px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.77;
  letter-spacing: normal;
  color: #444444;

  @media (min-width: $breakpoint-tablet) {
    display: grid;
  }

  @media (min-width: $breakpoint-desktop) {
    display: grid;
  }
}
