.variants-sizes__container {
  display: flex;
  justify-content: center;
}

.variants{
  margin: 30px 10px;
}

.product-description__content {
  display: grid;
}

.full-size{
  width: 100%;
  display: grid;
  background-color: black;
}
