@import "./../../../../styles/variables.scss";

.product-title__label {
  width: 335px;
  height: 24px;
  font-family: AbhayaLibre;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: center;
  color: #222222;
}

.division {
  width: 737px;
  height: 3px;
  background-color: #f7f7f7;
}

@media (min-width: $breakpoint-desktop) {
  .container__main {
    margin: 30px 20%;
  }
}
